.title {
    /*padding-bottom: 21.440px;*/
    /*border-bottom: 1px solid black;*/
    text-align: center;
    color: black;

}

.navbar {
    border-bottom: 1px solid black;
}

.postList {

}

#active {
    color: green;
}

.nav {
    border: 1px solid black;
    border-bottom: none;
    border-radius: 5px ;
    padding: 2px;
    padding-bottom: 0;
    color: lightgray;
}

a {
    padding-bottom: 5px;
    text-align: center;
    text-decoration: none;
}

ol {

    padding-left: 0;
    text-align: center;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

img {
    border-radius: 5%;
    width: 50%;
}